<div>
    About partial
    <div class="table-responsive">
        <table class="table mt-3 ">
            <tbody class="align-self-start ">
                <tr>
                    <td>Business Name:</td>
                    <td>Apricot Place</td>
                </tr>
                <tr>
                    <td>Telephone</td>
                    <td type="tel">+90 (501) 234 56 78</td>
                </tr>
                <tr>
                    <td col-span="2">Adress</td>
                    <td>A street b Neigborhood c City d Country 08345</td>
                </tr>
            </tbody>
        </table>
        <div>
            <div class="bg-body-secondary w-100 h-100 p-3 ">MAP</div>
            <img src="https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTAzL3BkbWlzYzgtZGlnaXRhbGN3Y29tbW9ud2VhbHRoY2o4Mmt0NTBwYS1pbWFnZS5qcGc.jpg"
                 alt=""
                 class="w-100"
                 width=""
                 height="">
        </div>
    </div>
</div>
